$mainFontFamily: 'Nunito', sans-serif;
$secondFontFamily: 'Lato', sans-serif;
$icoSize: 18px;
$padding: 1rem;

//Colors

$main-1: #7A7A7A;
$main-2: #F8475F;
$main-3: #000;
$dots: #BDBDBD;
$bar: #C0C0C0;
$newsletter: #F2F2F2;
$newsPlaceholder: #585858;
$newsTitle:#333333;
$selectedItem: #E6E8EA;



