.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.navbar-options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8rem;
}

.navbar-options-container .navbar-input-container, .navbar-options-container .navbar-user-container {
  margin-right: 2rem;
}

.navbar-input-container {
  width: 40rem;
  border-bottom: 1px solid #7A7A7A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
}

.navbar-input-container .navbar-input {
  border: none;
  outline: none;
  width: 95%;
}

.navbar-img {
  height: 41px;
}

.navbar-img .navbar-logo {
  fill: black;
}

.navbar-user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-user-container i {
  margin-right: 7px;
  color: #7A7A7A;
}

.navbar-cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-cart-container .navbar-cart-number {
  background: #F8475F;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0.3rem;
}

.navbar-cart-container .navbar-cart-number span {
  text-align: center;
  font-size: 10px;
  color: #FFF;
  font-weight: 700;
}

.navbar-user-text {
  color: #7A7A7A;
}

.navbar-ico-size {
  height: 18px;
}

.header-container {
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../../assets/banner.png");
  background-position: center;
}

.header-title-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title-container h1, .header-title-container h2 {
  color: #FFF;
}

.header-title-container h1 {
  font-size: 3rem;
}

.header-title-container h2 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.header-titles {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.dot-element {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #BDBDBD;
  margin-right: 0.5rem;
  cursor: pointer;
}

.dot-element:last-child {
  margin-right: 0;
}

.dot-background {
  background: #F8475F !important;
}

.dot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-grid-row: 6;
  grid-row: 6;
  z-index: 2;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}
/*# sourceMappingURL=styles.css.map */