.footer-container {
  background: $main-3;
  color: #FFF;
  padding: 2rem;
}

.footer-button {
  background: #FFF;
  color: $main-3;
  img {
    width: 17px;
  }
}

.footer-vector {
  img {
    width: 60px;
    height: 20px;
  }
}
