.header-container {
  height: 430px;
  background-image: url('../../assets/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-template-rows: repeat(8, 1fr);

}

.header-title-container {
  grid-column: 1 / 3;
  grid-row: 3 / 6;

  h1, h2 {
    color: #FFF;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }
}

.header-titles {
  margin-left: 10rem;
}

@media screen and (max-width: $tablet-768) {
  .header-container {
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  }
  .header-titles {
    margin: 0;
  }

  .header-title-container {
    grid-column: 2 / 9;
    grid-row: 3 / 6;
  }
}


@media screen and (max-width: $phone-480) {

  .header-title-container {
    grid-column: 1 / 8;
    grid-row: 3 / 6;
    margin: 1rem;
  }

  .header-titles {
    h2 {
      font-size: 24pt;
    }
    h1 {
      font-size: 32pt;
    }
  }
}

@media screen and (max-width: 320px) {
  .header-container {
    align-items: center;
  }
}