.newsletter-container {
  background: $newsletter;
  width: 100%;
  height: 146px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 22px;
    font-family: $secondFontFamily;
    font-weight: 900;
  }
}

.newsletter-input {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 1rem;
  margin-right: 9px;
  font-family: $secondFontFamily;
  width: 280px;
}

.newsletter-form-container {
  margin-top: 1rem;
}

.newsletter-button {
  padding: 1rem;
  background: $main-3;
  color: #FFF;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: $secondFontFamily;
  width: 140px;
}

@media screen and (max-width: $tablet-640) {
  .newsletter-container {
    padding: 2rem;
    height: 100%;
  }

  .newsletter-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .newsletter-input {
    margin: unset;
  }

  .newsletter-button {
    width: unset;
    grid-column: 1 / 3;
  }
}

@media screen and (max-width: $tablet-600) {
  .newsletter-container {
    height: 100%;
    h2 {
      font-size: 27px;
      margin-left: 3rem;
      margin-top: 14px
    }
  }

  .newsletter-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .newsletter-input {
    margin-bottom: 18px;
    width: 374px;
    margin-right: 0;
  }

  .newsletter-button {
    margin-bottom: 18px;
    width: 374px;
    border-radius: 5px;
  }
}

@media screen and (max-width: $phone-320) {
  .newsletter-input, .newsletter-button {
    width: unset;
  }
}